/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-dark.png);
  --title-color: #DB00FF;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --section-title-color: #ff0070;
  --border-hover-color: #ff007066;
}