/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-text-color: #353430;
  --bg-color: #fff5f6;
  --text-color: #353430;
  --section-title-color: #353430;
  --border-hover-color: #32312D66;
}

.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    /* Дублируем только те же переменные, что и выше */
    --bg-image: url(../images/cover-image-light.png);
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --accent-text-color: #353430;
    --bg-color: #fff5f6;
    --text-color: #353430;
    --section-title-color: #353430;
    --border-hover-color: #32312D66;
  }
  .theme-auto .rec {
    display: none;
  }
}